.foot{

    background-color: rgba(0, 0, 0, 0.512);

    color: white;

    position: absolute;

    bottom: 0px;

    width: 100%;

    padding: 8px;

}

.foot2{

    background-color: rgb(0, 0, 0);

    color: white;

    bottom: 0px;

    width: 100%;

    padding: 8px;

}

.cro{

    cursor: pointer;
}

.act{

    background-color: blueviolet;
}

.cro:hover{

    background-color: rgba(137, 43, 226, 0.222);
}

body::-webkit-scrollbar {
    height: 12px; /* Height of the horizontal scrollbar */
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background:  #4a3dc3; 
}

/* Optional: Styles for the vertical scrollbar */
body::-webkit-scrollbar {
    width: 15px; /* Width of the vertical scrollbar */
}