<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/custom.css'%}">
    <link rel="stylesheet" href="{%static 'css/all.min.css'%}">
    <link rel="icon"type="image/jpeg" sizes="30x30" href="{%static 'img/icon.png'%}">
    <title>General || Home</title>

</head>

<style>
.hovo:hover{
    background-color: 
}

.paner li{
    padding: 10px;

    border-top: .5px solid black;

    cursor: pointer;

    background-color: white;
}

h4{
    cursor: pointer;
}

</style>

<body>
    <!-- header -->

    <nav class="navbar bg-dark navbar-expand-lg " style="border-bottom: 5px solid gold;">
        <div class="container-fluid ">
            
            <ul class="navbar-nav mr-auto d-flex flex-row ">

                <li>
                    <span class="navbar-brand mb-0 h1 text-warning"> 
    
                        <img src="{% static 'img/icon.png' %}" />
    
                        <span class="h3">SalFind</span>
    
                    </span>
                </li>

                <li class="nav-item ">
                    <a href="/generalDash/createSess"  class="nav-link text-light" style="float: left;"> Create Session </a>
                </li>

                <li class="nav-item ">
                    <a href="/generalDash/session"  class="nav-link text-light" style="float: left;"> Sessions </a>
                </li>
                
                <li class="nav-item ">
                    <a href="/generalDash/Logout" class="nav-link text-light">Log out</a>
                </li>

            </ul>

            <i class="fa-solid fa-cat text-light h1 m-2"></i>

        </div>
    </nav>

        <div class="">

            {%block content %}{%endblock%}

        </div>

    </div>


</body>

<script src ="{%static 'js/bootstrap.min.js'%}"></script>

<script src ="{%static 'js/all.min.js'%}"></script>

<script src ="{%static 'js/code.jquery.com_jquery-3.7.1.min.js'%}"></script>

<script>

    $("#id_description").addClass("col-9 form-control")

    $("input").addClass("form-control")

    $("select").addClass("form-control")

    $("#id_discAv").removeClass("form-control")

    $("#id_discAv").addClass("form-check-input")

    $("#id_is_active").removeClass("form-control")

    $("#id_is_active").addClass("form-check-input")

    $("#id_code").attr("value",$("#safer").attr("code"))

    $("#id_code").attr("readonly",true)

    $("#id_valid_to").attr("required",true)

    $("#B2").toggle(4)
    $("#B3").toggle(4)

    B2 = B3 = 0
    B1 = 1

    function pan1(){

        $("#B1").toggle(4)
        if(B1){
            B1 = 0
        }else{
            B1 = 1
        }

        if(B2){
            $("#B2").toggle(4)
            B2 = 0
        }else if(B3){

            $("#B3").toggle(4)
            B3 = 0

        }

    }

    function pan2(){

        $("#B2").toggle(4)
        if(B2){
            B2 = 0
        }else{
            B2 = 1
        }

        if(B1){

            $("#B1").toggle(4)
            B1 = 0

        }else if(B3){

            $("#B3").toggle(4)
            B3 = 0


        }

    }

    function pan3(){

        $("#B3").toggle(4)
        if(B3){
            B3 = 0
        }else{
            B3 = 1
        }

        if(B1){
            $("#B1").toggle(4)
            B1 = 0
        }else if(B2){

            $("#B2").toggle(4)
            B2 = 0

        }

    }

    $("#A1").click(()=>pan1())
    $("#A2").click(()=>pan2())
    $("#A3").click(()=>pan3())

</script>

</html>

</html>