{%extends 'base.html'%}
{%load static%}

{%block content%}

<div class="">

    <div class="container p-5" style="margin-bottom: 278px;" >
        <div class="">
            <div class="row">

                <div class="col-7 ">
                    <br>

                    <h1>Welcome Mr, {{user}}!</h1>

                    <p class="h6" style="margin-top: 60px;">
                        Hello lets start manging our store you have many permessions to do what you want!
                    </p>

                </div>

                <img  class="col-5 p-0" src="{%static 'img/oops2.jpg'%}"/>

            </div>

        </div>
    </div>

    <footer class="p-4 text-light bg-dark" style="border-top: 5px solid gold;">

        Services contact with : SalFind@gmail.com 
    
    </footer>

</div>



{%endblock%}