{%extends 'baseItem.html'%}

{%load static%}

{%block form%}

<form method="post" action="/SalFind/Market/Item/statu/{{It.sku}}" class="mt-1 row text-center">
    {%csrf_token%}

    <div class="col-8 text-start">

        <span>quantity : </span>

        <input name="quantity" id="qt"value="{{qt}}" type="text" style="border:0px; " class="w-25" readonly>

        <div class="mt-1">

            <label class="d-iniline">pay method :</label>

            <input name="payMethod" value="{{payM}}" class="form-control w-75 d-inline" readonly/>            

        </div>

        <div class="mt-1">

            <label>Coupone</label>

            <input name="cop" value="{{code}}" class="form-control w-75 d-inline" readonly/>
        </div>

    </div>

    <div class="col-4 text-start">
        
        <div class="text-md mt-3 ">
            <span  style="font-size: medium;  font-weight:600">old total : </span>

            <span id="total">{{oldT}}</span>
        </div>

        <div class="text-md mt-3 ">
            <span  style="font-size: medium;  font-weight:600">new total : </span>

            <span id="total">{{newT}}</span>
        </div>

    </div>

    <hr class="mt-3">

    <div class="m-2">
        <button type="submit" class="btn btn-outline-success w-50 text-center" > Pay Now ! </button>
    </div>

</form>

{%if messege %}

<div class="alert alert-danger" role="alert">
    {{messege}}
</div>

{%endif %}

{%endblock%}