<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/custom.css'%}">
    <link rel="stylesheet" href="{%static 'css/all.min.css'%}">
    <link rel="icon"type="image/jpeg" sizes="36x90"  href="{%static 'img/icon.png'%}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Password Reset</h1>
        <form method="post">
            {% csrf_token %}
            <!-- New Password -->
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="new_password" required>
            </div>
            <!-- Confirm New Password -->
            <div class="form-group">
                <label for="confirmNewPassword">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmNewPassword" name="confirm_new_password" required>
            </div>
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary m-5">Reset Password</button>
        </form>
    </div>

    <script src ="{%static 'js/bootstrap.min.js'%}"></script>
    <script src ="{%static 'js/all.min.js'%}"></script>
    <script src ="{%static 'js/code.jquery.com_jquery-3.7.1.min.js'%}"></script>
</body>
</html>