<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SalFind || Sign Up</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/custom.css'%}">
    <link rel="stylesheet" href="{%static 'css/all.min.css'%}">
    <link rel="icon"type="image/jpeg" sizes="36x90"  href="{%static 'img/icon.png'%}">
</head>
<body >

    <nav class="navbar bg-dark " >

        <div class="container-fluid">

            <span class="navbar-brand mb-0 h1 text-warning">

                <img src="{% static 'img/icon.png' %}" />

                <span class="h3">SalFind</span>

            </span>

        </div>

    </nav>

    <div class="container w-50 mt-5 bg-secondary p-5 text-light" style="border-radius:10px">

        <h1 class="text-center mb-3">
            {%if email%}

            Sign Up
            {%else%}

            Edit
            {%endif%}
        </h1>

        <form class="row g-3 form-group" method = "post" action="" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="d-flex flex-row">

                <div class="form-group m-2 col-6">
                    <label>Full Name</label>
                    {{form.full_name}}
                </div>

                <div class="form-group m-2 col-6">
                    <label>phone</label>
                    {{form.phone_no}}
                </div> 
            </div>

            {%if form.first_name%}

            <div class="d-flex flex-row">

                <div class="form-group m-1 col-4">
                    <label>prefix</label>
                    {{form.name_prefix}}
                </div>

                <div class="form-group m-1 col-4">
                    <label>First_name</label>
                    {{form.first_name}}
                </div>

                <div class="form-group m-1 col-4">
                    <label>Last Name</label>
                    {{form.last_name}}
                </div>

            </div>
            {%endif%}

            {{form.username}}

            <div class="d-flex flex-row">

                <div class="form-group m-1 col-4">
                    <label>Gender</label>
                    {{form.gender}}
                </div>

                <div class="form-group m-1 col-4">
                    <label>Age</label>
                    {{form.age}}
                </div>

                <div class="form-group m-1 col-4">
                    <label>SSN</label>
                    {{form.ssn}}
                </div>

            </div>

            <div class="form-group m-1 ">
                {{form.email}}
            </div>

            <div class="d-flex flex-row">

                <div class="form-group m-1 col-4">
                    <label>Place Name</label>
                    {{form.place_name}}
                </div>

                <div class="form-group m-1 col-4">
                    <label>County</label>
                    {{form.county}}
                </div>

                <div class="form-group m-1 col-4">
                    <label>City</label>
                    {{form.city}}
                </div>

            </div>

            <div class="d-flex flex-row">

                <div class="form-group m-1 col-4">
                    <label>State</label>
                    {{form.state}}
                </div>

                <div class="form-group m-1 col-4">
                    <label>Region</label>
                    {{form.region}}
                </div>

                <div class="form-group m-1 col-4">
                    <label>Posta code</label>
                    {{form.zip_code}}
                </div>

            </div>

            {%if form.first_name%}


            <div class="d-flex flex-row">

                <div class="form-group m-2 col-6">
                    <label>Password</label>
                    {{form.password1}}
                </div>

                <div class="form-group m-2 col-6">
                    <label>Confirm password</label>
                    {{form.password2}}
                </div> 
            </div>
            {%endif%}

            <div class="m-2">
                {{form.image}}
            </div>

            <div class="m-2">
                {%if form.errors or ssnEr%}
                <div class="alert alert-danger" role="alert">
                    {{form.errors}}
                    <br>
                    {{ssnEr}}
                </div>
                {%endif%}
            </div

            <div class=" text-center">
                <button type="submit" class="btn btn-primary  m-3">
                    {%if email%}

                    Sign Up
                    {%else%}
        
                    Edit
                    {%endif%}
                </button>

                <a class="btn btn-primary m-2" href="/SalFind">Cancel</a>
            </div> 

        </form>
    </div>
</body>

<script src ="{%static 'js/bootstrap.min.js'%}"></script>
<script src ="{%static 'js/all.min.js'%}"></script>
<script src ="{%static 'js/code.jquery.com_jquery-3.7.1.min.js'%}"></script>

{%if email%}
<script>

    $("#id_email").attr("value","{{email}}")
    $('#id_username').attr("value",$("#id_email").attr("value"))

</script>
{%endif%}

<script>

    $("input").addClass("form-control")

    $("select").addClass("form-control")

    

    
    $("#id_username").addClass("d-none")
    $("#id_email").addClass("d-none")

    $("#image-clear_id").removeClass("form-control")

    $("#image-clear_id").addClass("d-block")


</script>

<script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
    window.onload = noBack;
    window.onpageshow = function(evt) { if (evt.persisted) noBack(); }
    window.onunload = function() { void(0); }
</script>

</html>


